@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(45deg, var(--cor3), var(--cor2), var(--cor1));
    }

    main > section#login {
        width: 85vw;
        height: 280px;
    }

    div#imagem > img {
        position: absolute;
        width: 200px;
        height: 280px;
        border-radius: 10px 0px 0px 10px;
    }

    div#formulario {
        position: relative;
        left: 20%;
    }

    div#formulario > h1 {
        margin-top: 5px;
    }

    div#formulario > p {
        font-size: 0.8em;
    }

    div#formulario form > div.email-senha > input {
        padding: 10px 15%;
        
        
    }






}